* {
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
}

.container {
  max-width: 600px;
  margin: 0 auto;
}

.hidden {
  display: none;
}

.photos {
  display: flex;
  flex-wrap: wrap;
}

.gallery {
  margin: auto;
  margin-top: 40px;
  margin-bottom: 40px;  
}

img {
  border: solid black 2px;
  border-radius: 5px;
  box-shadow: black 0 4px 8px 0;
  padding: 5px;
}